:root {
    font-size: 10px;
    --primary-color: #E67F22;
    --secondary-color: #F9F9F9;
    --tertiary-color: #2DCD73;
    --quaternary-color: #4293D2;
    --dark-color: #111;
    --light-color: #FFFFFF;
    --font-primary: #767B7F;
    --border-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075), 0 -0.125rem 0.25rem rgba(0, 0, 0, 0.075), 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075), -0.125rem 0 0.25rem rgba(0, 0, 0, 0.075);
}

* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin-inline: 5px;
    padding-inline: 20px;
    display: flex;
    justify-content: space-between;
    padding-block: 10px;
    margin-bottom: 30px;

    box-shadow: var(--border-shadow);

    >div {
        display: flex;
        gap: 15px;

        div {
            width: 40px;
            height: 40px;
            border-radius: 100%;
            justify-items: center;
            align-content: center;
        }

        &:first-of-type {

            div {
                background-color: var(--primary-color);

                p {
                    color: var(--light-color);
                    font-weight: 900;
                    font-size: 1.6rem;
                }
            }
        }

        &:last-of-type {
            div {
                background-color: var(--secondary-color);
                text-align: center;
            }
        }
    }

    >img {
        width: 30px;
        aspect-ratio: 1/1;
    }

    h1 {
        color: var(--primary-color);
        font-weight: 900;
        font-size: 3rem;
        margin: 0;

    }
}

#filtre {
    margin-inline: 5px;
    padding-inline: 20px;
    padding-block: 10px;
    margin-bottom: 30px;
    box-shadow: var(--border-shadow);
    text-align: center;

    form {

        input,
        button {
            width: 100%;
            margin-block: 4px;
        }

        input {
            padding-block: 5px;
        }

        button {
            background-color: var(--primary-color);
            border: 0;
            border-radius: 4px;
            color: var(--light-color);
            color: var(--light-color);
            padding-block: 2px;
        }
    }

    article {
        padding-block: 10px;
        background-color: var(--secondary-color);
        margin-block: 10px;
        text-align: left;
        padding-left: 10px;

        li {
            display: flex;
            list-style-type: none;
            padding-block: 5px;
            gap: 10px;
        }

    }
}

#recette {
    article {
        box-shadow: var(--border-shadow);
        margin-inline: 5px;
border-radius: 10px;
        img {
            width: 100%;
            aspect-ratio: 1.5/1;
            object-fit: cover;
            object-position: 50% 75%;
            border-top-left-radius: 10px;
            border-top-right-radius:10px;
        }
        figcaption{
            padding-left: 20px;
            font-size: 2rem;
        }
        div{
            padding-left: 20px;
            display: flex;
            gap: 10px;
            margin-block: 10px;
            p{
                padding: 5px;
                padding-inline: 9px;
                color: var(--light-color);
                border-radius: 15px;
                &:first-of-type{
                    background-color: var(--primary-color);
                }
                &:nth-last-of-type(2){
                    background-color: var(--tertiary-color);
                }
                &:last-of-type{
                    background-color: var(--quaternary-color);
                }
            }
        }
        button{
            margin-inline: 20px;
            width: calc(100% - 40px);
            background-color: var(--primary-color);
            color: var(--light-color);
            border: 0;
            font-size: 1.5rem;
            padding-block: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
        }
    }
}