
#information {
    margin-inline: 5px;
    padding-inline: 20px;
    padding-block: 10px;
    margin-bottom: 30px;
    box-shadow: var(--border-shadow);

    h2,
    p {
        margin-block: 5px;
    }
}

#contact {
    margin-inline: 5px;
    padding-inline: 20px;
    padding-block: 10px;
    margin-bottom: 30px;
    box-shadow: var(--border-shadow);
h2{
    text-align: center;
    margin-bottom: 10px;
}
    form {

        display: flex;
        flex-direction: column;
        gap: 10px;
        .invalid-feedback{
            color: red;
            display: none;
        }
        div{
            display: flex;
            flex-direction: column;
            input:not([type=checkbox]), textarea{
                padding: 10px;
        border-radius: 5px;
        border: 1px solid var(--dark-color);
        gap: 10px;
        &.is-invalid{
            ~ .invalid-feedback{
                display: initial;
            }
            
        }
            } 
        }
        >div:last-of-type{
                    >div:last-of-type{
                        color: red;
                    }
                }
                
>div:last-of-type{
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    input{
        flex-basis: 4%;}
        label{
            flex-basis: 90%;
        }
    }
}

            }

            button{
                padding: 10px;
        background-color: var(--primary-color);
        color: var(--light-color);
        border: none;
        border-radius: 5px;
        cursor: pointer;
        &:hover{
            background-color: #f39c12;
        }
            }
       
        
#faq {
    margin-inline: 5px;
    padding-inline: 20px;
    padding-block: 10px;
    margin-bottom: 30px;
    box-shadow: var(--border-shadow);
    .faq-item {
        margin-bottom: 15px;
    }
    h2{
        margin-bottom: 10px;
    }
    .faq-toggle {
        background-color: var(--primary-color);
        color: white;
        border: none;
        padding: 10px;
        width: 100%;
        text-align: left;
        cursor: pointer;
        font-size: 1.1rem;
    }
    
    .faq-toggle:hover {
        background-color: #f39c12;
    }
    
    .faq-content {
        display: none;
        padding: 10px;
        border-radius: 5px;
    }
    
    .faq-content p {
        font-size: 1rem;
    }
}


@media (min-width: 768px) {
   #contact{
    form{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    div:nth-last-of-type(2),button{
        grid-column: 1/-1;
    }
    button{
        width: 20vw;
        justify-self: center;
    }
    textarea{
        height: 10vh;
    }
    
   }
}
#faq{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 10px;
    h2{
        grid-column: 1/-1;
    }
}

}
