
#favorite{
    margin-inline: 5px;
    padding-inline: 20px;
    padding-block: 10px;
    margin-bottom: 30px;
    box-shadow: var(--border-shadow);
    article {
        position: relative;
        margin-block: 10px;
        box-shadow: var(--border-shadow);
        margin-inline: 5px;
        border-radius: 10px;

        figure {
            img {
                width: 100%;
                aspect-ratio: 1.5/1;
                object-fit: cover;
                object-position: 50% 75%;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }

            figcaption {
                padding-left: 20px;
                font-size: 2rem;
            }
        }

        div {
                padding-left: 20px;
                display: flex;
                gap: 10px;
                margin-block: 10px;

                p {
                    padding: 5px;
                    padding-inline: 9px;
                    color: var(--light-color);
                    border-radius: 15px;

                    &:first-of-type {
                        background-color: var(--primary-color);
                    }

                    &:nth-last-of-type(2) {
                        background-color: var(--tertiary-color);
                    }

                    &:last-of-type {
                        background-color: var(--quaternary-color);
                    }
                }
            
        }

        button {
            margin-inline: 20px;
            width: calc(100% - 40px);
            background-color: var(--primary-color);
            color: var(--light-color);
            border: 0;
            font-size: 1.5rem;
            padding-block: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
        }
    }
}


@media (min-width: 768px) {
    #favorite{
        div{
            display: flex;
            flex-wrap: wrap;
            article{
                flex-basis: 48%;
            }
            }
    }
}

@media(min-width: 1024px) {
    #favorite{
        div{
            article{
                flex-basis: 32%;
            }
            }
    }
}