#filtre {
    margin-inline: 5px;
    padding-inline: 20px;
    padding-block: 10px;
    margin-bottom: 30px;
    box-shadow: var(--border-shadow);
    text-align: center;

    form {

        input,
        button {
            width: 100%;
            margin-block: 4px;
        }

        input {
            padding-block: 5px;
        }

        button {
            background-color: var(--primary-color);
            border: 0;
            border-radius: 4px;
            color: var(--light-color);
            color: var(--light-color);
            padding-block: 2px;
        }
    }

    article {
        padding-block: 10px;
        background-color: var(--secondary-color);
        margin-block: 10px;
        text-align: left;
        padding-left: 10px;

        li {
            display: flex;
            list-style-type: none;
            padding-block: 5px;
            gap: 10px;
        }

    }
}

#recette {
    margin-bottom: 20px;

    article {
        position: relative;
        margin-block: 20px;
        box-shadow: var(--border-shadow);
        margin-inline: 5px;
        border-radius: 10px;

        figure {
            img {
                width: 100%;
                aspect-ratio: 1.5/1;
                object-fit: cover;
                object-position: 50% 75%;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }

            figcaption {
                padding-left: 20px;
                font-size: 2rem;
            }
        }

        div {
            &:first-of-type {
                background-color: var(--secondary-color);
                padding: 10px;
                position: absolute;
                top: 10%;
                right: 0%;
                transform: translate(-50%, -50%);
                border-radius: 100%;
            }

            &:last-of-type {
                padding-left: 20px;
                display: flex;
                gap: 10px;
                margin-block: 10px;

                p {
                    padding: 5px;
                    padding-inline: 9px;
                    color: var(--light-color);
                    border-radius: 15px;

                    &:first-of-type {
                        background-color: var(--primary-color);
                    }

                    &:nth-last-of-type(2) {
                        background-color: var(--tertiary-color);
                    }

                    &:last-of-type {
                        background-color: var(--quaternary-color);
                    }
                }
            }
        }

        button {
            margin-inline: 20px;
            width: calc(100% - 40px);
            background-color: var(--primary-color);
            color: var(--light-color);
            border: 0;
            font-size: 1.5rem;
            padding-block: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
        }
    }
}

footer {
    >div {
        padding-bottom: 10px;
        padding-inline: 10px;
        box-shadow: var(--border-shadow);
        margin-inline: 5px;
        border-radius: 10px;

        h3 {
            color: var(--primary-color);
            padding-block: 5px;

            a {
                color: var(--primary-color);
                text-decoration: none;
            }
        }

        li {
            list-style-type: none;
            padding-block: 4px;

            a {
                color: #111;
                text-decoration: none;
            }
        }

    }

    >p {
        text-align: center;
        padding-block: 10px;
    }
}

@media (min-width: 768px) {
    #filtre {
        form {
            display: flex;

            input {
                flex: 1;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                border-right: 0;
            }

            button {
                flex: 0.3;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }

        article {
            h3 {
                margin-block: 5px;
            }

            ul {
                display: flex;
                gap: 15px;
            }
        }
    }

    #recette {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

}

@media(min-width: 1024px) {
    #filtre {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 10px;
        form {
            grid-column: 1 / -1;
        }

        article {
            ul {
                flex-direction: column;
                gap: 4px;
                
            }
        }
    }
    #recette{
        grid-template-columns: repeat(3, 1fr);
    }
}