
#infosGenerales{
    margin-inline: 5px;
    padding-inline: 20px;
    padding-block: 10px;
    margin-bottom: 30px;
    box-shadow: var(--border-shadow);
    figure{
        position: relative;
    img{
        width: 100%;
    }
    figcaption{
        font-size: 4rem;
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.7);
        color: var(--light-color);
        transform: translate(-50%, -50%);
    }
}
div{
    h3{
        font-weight: 800;
    }
h2{
    font-size: 1.6rem;
    font-weight: 800;
    color: var(--primary-color);
    text-align: center;
    padding-block: 20px;
}
p{
    margin-block: 5px;
    span{
        font-weight: 800;
    }
}
button{
    background-color: var(--primary-color);
            border: 0;
            border-radius: 4px;
            color: var(--light-color);
            color: var(--light-color);
            padding: 2px;
            cursor: pointer;
}
}
}
#listeIngr{
    margin-inline: 5px;
    padding-inline: 20px;
    padding-block: 10px;
    margin-bottom: 30px;
    box-shadow: var(--border-shadow);
  h3{padding-block: 10px;}
    ul{
        display: grid;
        padding-inline: 20px;
        grid-template-columns: 1fr 1fr;
        row-gap: 10px;
        align-items: center;
    }
}
#preparation{
    margin-inline: 5px;
    padding-inline: 20px;
    padding-block: 10px;
    margin-bottom: 30px;
    box-shadow: var(--border-shadow);
     ol{
        padding-inline: 20px;
        li{margin-block: 10px;}
     }
}
#suggestion{
    margin-inline: 5px;
    padding-inline: 20px;
    padding-block: 10px;
    margin-bottom: 30px;
    box-shadow: var(--border-shadow);
    article {
        position: relative;
        margin-block: 10px;
        box-shadow: var(--border-shadow);
        margin-inline: 5px;
        border-radius: 10px;

        figure {
            img {
                width: 100%;
                aspect-ratio: 1.5/1;
                object-fit: cover;
                object-position: 50% 75%;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }

            figcaption {
                padding-left: 20px;
                font-size: 2rem;
            }
        }

        div {
            &:first-of-type {
                background-color: var(--secondary-color);
                padding: 10px;
                position: absolute;
                top: 10%;
                right: 0%;
                transform: translate(-50%, -50%);
                border-radius: 100%;
            }

            &:last-of-type {
                padding-left: 20px;
                display: flex;
                gap: 10px;
                margin-block: 10px;

                p {
                    padding: 5px;
                    padding-inline: 9px;
                    color: var(--light-color);
                    border-radius: 15px;

                    &:first-of-type {
                        background-color: var(--primary-color);
                    }

                    &:nth-last-of-type(2) {
                        background-color: var(--tertiary-color);
                    }

                    &:last-of-type {
                        background-color: var(--quaternary-color);
                    }
                }
            }
        }

        button {
            margin-inline: 20px;
            width: calc(100% - 40px);
            background-color: var(--primary-color);
            color: var(--light-color);
            border: 0;
            font-size: 1.5rem;
            padding-block: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
        
        }
    }
}


@media (min-width: 768px) {
#infosGenerales{
    display: grid;
    grid-template-columns: 1fr 1fr;
    div{
        padding-left: 20px;
        p{
            margin-block: 20px;
        }
    }
}
#listeIngr{
    ul{
        grid-template-columns: repeat(3,1fr);
    }
}


#preparation{
    ol{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        column-gap: 25px;
    }
}
#suggestion{
    >div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    }
}
}

@media(min-width: 1024px) {
    :root{
        font-size: 1.01rem;
    }
    #listeIngr{
        ul{
            grid-template-columns: repeat(4,1fr);
        }
    }

   
}