:root {
    font-size: 10px;
    --primary-color: #E67F22;
    --secondary-color: #F9F9F9;
    --tertiary-color: #2DCD73;
    --quaternary-color: #4293D2;
    --dark-color: #111;
    --light-color: #FFFFFF;
    --font-primary: #767B7F;
    --border-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
.show{
    display: flex;
}

header {
    margin-inline: 5px;
    padding-inline: 20px;
    display: flex;
    justify-content: space-between;
    padding-block: 10px;
    margin-bottom: 30px;
    position: relative;

    box-shadow: var(--border-shadow);
    
    >div {
        display: flex;
        gap: 15px;

        div {
            width: 40px;
            height: 40px;
            border-radius: 100%;
            justify-items: center;
            align-content: center;
        }

        &:first-of-type {

            div {
                background-color: var(--primary-color);

                p {
                    color: var(--light-color);
                    font-weight: 900;
                    font-size: 1.6rem;
                }
            }
        }

        &:last-of-type {
            div {
                background-color: var(--secondary-color);
                text-align: center;
            }
        }
    }

    >img {
        width: 30px;
        aspect-ratio: 1/1;
    }

    h1 {
        color: var(--primary-color);
        font-weight: 900;
        font-size: 3rem;
        margin: 0;

    }
    
    nav {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: var(--primary-color);
        border-top: none;
        ul {
            width: 40vw;
            padding-block: 10px;
            padding-left: 10px;
            display: flex;
            flex-direction: column;
            gap: 10px;


            li {
                list-style: none;
                a {
                    text-decoration: none;
                    color: var(--light-color);
                    font-size: 1.2rem;
                }
            }
        }
    }
}

#favorite{
    margin-inline: 5px;
    padding-inline: 20px;
    padding-block: 10px;
    margin-bottom: 30px;
    box-shadow: var(--border-shadow);
    article {
        position: relative;
        margin-block: 10px;
        box-shadow: var(--border-shadow);
        margin-inline: 5px;
        border-radius: 10px;

        figure {
            img {
                width: 100%;
                aspect-ratio: 1.5/1;
                object-fit: cover;
                object-position: 50% 75%;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }

            figcaption {
                padding-left: 20px;
                font-size: 2rem;
            }
        }

        div {
            &:first-of-type {
                background-color: var(--secondary-color);
                padding: 10px;
                position: absolute;
                top: 10%;
                right: 0%;
                transform: translate(-50%, -50%);
                border-radius: 100%;
            }

            &:last-of-type {
                padding-left: 20px;
                display: flex;
                gap: 10px;
                margin-block: 10px;

                p {
                    padding: 5px;
                    padding-inline: 9px;
                    color: var(--light-color);
                    border-radius: 15px;

                    &:first-of-type {
                        background-color: var(--primary-color);
                    }

                    &:nth-last-of-type(2) {
                        background-color: var(--tertiary-color);
                    }

                    &:last-of-type {
                        background-color: var(--quaternary-color);
                    }
                }
            }
        }

        button {
            margin-inline: 20px;
            width: calc(100% - 40px);
            background-color: var(--primary-color);
            color: var(--light-color);
            border: 0;
            font-size: 1.5rem;
            padding-block: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
        }
    }
}


footer {
    >div {
        padding-bottom: 10px;
        padding-inline: 10px;
        box-shadow: var(--border-shadow);
        margin-inline: 5px;
        border-radius: 10px;

        h3 {
            color: var(--primary-color);
            padding-block: 5px;

            a {
                color: var(--primary-color);
                text-decoration: none;
            }
        }

        li {
            list-style-type: none;
            padding-block: 4px;

            a {
                color: #111;
                text-decoration: none;
            }
        }

    }

    >p {
        text-align: center;
        padding-block: 10px;
    }
}

@media (min-width: 768px) {
    footer {
        >div {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
    #favorite{
        div{
            display: flex;
            flex-wrap: wrap;
            article{
                flex-basis: 48%;
            }
            }
    }
}

@media(min-width: 1024px) {
    #favorite{
        div{
            article{
                flex-basis: 32%;
            }
            }
    }
    header{
        >div {
            &:first-of-type{
                flex: 1;
            }
            &:last-of-type{
                justify-content: space-between;
                flex: 1.6;
            }
            >img{
            display: none;
            }
        }
        nav{
            background-color: var(--light-color);
            
            display: flex;
            position: relative;
            top: 0;
            ul{
            flex-direction: row;
            justify-content: space-between;
            padding-inline: 10px;
            li {
                
            a{
                color: var(--dark-color);
                font-weight: 800;
            }
            &:hover{
                padding: 4px;
                background-color: var(--secondary-color);
                a{color: var(--primary-color);}
            }
        }
            }
        }
    }

}